<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
		<title>***Welcome-Page***</title>
		<style>
            h1{
				color:Blue;
				background-color:lightyellow;
				border: 2px Solid Brown;
			}
			h2{
				color:Green;
				background-color:lightyellow;
				border: 2px Solid Brown;
			}
			h3{
				color:Red;
				background-color:lightyellow;
				border: 2px Solid Brown;
			}
			h4{
				color:maroon;
				background-color:lightcyan;
				border:2px Dotted Red;
			}
		</style>
</head>
<body>
		<center>
			<h1>Hello Students</h1>
			<hr />
			<h2>Welcome to Django Framework</h2>
			<hr />
			<h3>***ALL THE BEST***</h3>
			<hr />
			<h4> Javascript(Programming in Webpage) <br />
				<script>
					a=11
					b=3
					document.writeln(a+"<br />")
					document.writeln(b+"<br />")
					document.writeln(a+b+"<br />")
					document.writeln(a-b+"<br />")
					document.writeln(a*b+"<br />")
					document.writeln(a/b+"<br />")
					document.writeln(a%b+"<br />")
				</script>
			</h4>
			<hr />
		</center>
</body>
</html>
